.user{
  margin-top: 10px;
  background-color: yellowgreen;
  border-radius: 10px;
  border-color: black;
  padding: 20px;
}
.card{
  margin-top: 10px;
  background-color: lightblue;
  border-radius: 10px;
  border-color: black;
  padding: 20px;
}
.nav{
  background-color: lightcoral;
  border-radius: 10px;
  border-color: black;
  padding: 20px;
}
.userProfile{
  margin-top: 10px;
  background-color: crimson;
  border-radius: 10px;
  border-color: black;
  padding: 20px;
}
.button{
  margin-top: 10px;
  background-color: lightgray;
  border-radius: 10px;
  border-color: black;
  padding: 10px;
}
.userProfile img{
  margin-top: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border-color: black;
  padding: 10px;
}
.userContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}